[submodule "Images"]
    path = Images/git
    url = https://github.com/Son-The-SUN/Images.git

[submodule "profile"]
    path = profile/.git
    url = https://github.com/Son-The-SUN/profile.git

[submodule "projects"]
    path = projects/.git
    url = https://github.com/Son-The-SUN/profile/tree/main/projects
